h1.contact {
    padding: 1.5em;
} 

.icon {
    padding: 2rem;
    padding-top: 0;
}

.icon-links a:link {
    color: #e6dede; 
   
}

.icon-links a:visited {
    color: #e6dede;
}

.icon-links a:hover {
    color: #d0e1f0ce;
    transition: 0.35s;
    transform: scale(3);
}

#contact-form {
    align-items: center;
}

@media screen and (max-width:768px) {
    .fa-3x {
        font-size: 225%;
    }
 
     .icon {
         padding: .6rem;
     }
 
     form {
         margin: 1em;
     }
}