h1.contact {
    padding: 1.5em;
} 

.icon {
    padding: 2rem;
    padding-top: 0;
    transition: .3s;
}
.icon:hover {
    color: #808080;
    transition: .3s;
}
.fas, .fab {
    transition: .3s;
}
.fas:hover, .fab:hover {
    color: #94c8f1;
    transition: .5s;
}
.d-flex {
    padding-left: 0;
}

.icon-links a:link {
    color: #e6dede; 
   
}

.icon-links a:visited {
    color: #e6dede;
}

.icon-links a:hover {
    color: #d0e1f0ce;
    transition: 0.35s;
}

#contact-form {
    align-items: center;
}

@media screen and (max-width:768px) {
    .fa-3x {
        font-size: 175%;
    }
 
    .d-flex {
        padding-left: 0;
    }
     .icon {
         padding: .45rem;
     }
 
     form {
         margin: 1em;
     }
}