.resume {
    padding-top: 2rem;
   
}

.resume-icon {
    color: #5ca6eb;
    text-shadow: none;
}

.resume-links {
    line-height: 2rem;
}

.resume-links a:link {
    color: #e6dede; 
}

.html-logo {
    color:orange;
}

.css-logo {
    color: rgb(31, 143, 247);
}

.js-logo {
    color: yellow;
}

.n-js-logo {
    color: rgb(7, 189, 7);
}

.resume-links a:visited {
    color: #e6dede;
}

.resume-links a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

.resume-name {
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
}

hr {
    background-color: #f5f5f5;
}

.btn-send {
    color: rgb(125, 192, 250);
}

.btn {
    border-radius: 2em;
}

.mysql-logo {
    max-width: 20px;
}

.mongoDB-logo {
    max-width: 20px;
}

.profile-pic {
    max-height: 400px;
    padding-left: 2.8rem;
}
h1, .resume-links {
    padding-left: 3.5rem;
}

.summary, .position {
    padding: .5rem 2rem 0 2rem;
}
.subheaders {
    padding-left: 1.5rem;
}